.player-body{
    margin: 0;
    padding: 0;
    background: black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2vw;
}

.info-container{
    padding: .5em;
}

.video-container{
    font-size: 5vw;
    padding: .5em;
    text-align: center;
}

.log-container{
    font-size: 5vw;
    padding: .5em;
    text-align: center;
}

.player-title{
    color: #e74c3c;
}

#info{
    color: snow;
}